body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    .container {
        width: 1200px;
        height: 100vh;
        padding: 0 20px;
        margin: 0 auto;
        .wrapper {
            margin-top: -100px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .box-img {
                width: 400px;
                position: relative;
            }
            .cat-img {
                position: absolute;
                top: 240px;
                z-index: -1;
                transition: 2s ease;
            }

            .button-for-cat {
                margin-top: 50px;
                width: 250px;
                height: 50px;
                background-color: #D98E48;
                border-radius: 5px;
                cursor: pointer;
                font-size: 20px;
            }
        }
    }
}